.image-container {
    position: relative;
    width: 100%;
    max-width: 300px; /* Adjust based on your needs */
    overflow: hidden; /* Ensures the overlay doesn't extend beyond the image container */
  }
  
  .image-overlay {
    position: absolute;
    bottom: -100%; /* Start from below the image */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 1s ease;
  }
  
  .image-container:hover .image-overlay {
    bottom: 0; /* Slide up to cover the image */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }


  // .chart-container {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
  
  // .chart-and-legend {
  //   display: flex;
  //   align-items: center;
  // }
  
 
  
  // .custom-legend {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   margin-left: 20px !important;
  // }
  
  // .legend-item {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 20px;
  // }
  
  // .legend-item img {
  //   // width: 20px;
  //   // height: 20px;
  //   margin-right: 5px;
  // }
  
  


  .chart-and-legend {
    height: 95% !important;

  }

 
  
  // .legend {
  //   display: flex;
  //   flex-direction: column;
  //   margin-left: 5% !important;
  // }
  
  // .legend-item {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 20px;
  // }
  
  // .legend-item img {
  //   width: 30px;
  //   height: 30px;
  //   margin-right: 5px;
  // }
  .Img_size_chart {
    width: 3% !important;
    margin-left: 2% !important;
  }
  .Panner_img{
    width: 75% !important;
  }
  
  @media (max-width: 1200px) {
    .Img_size_chart {
      width: 4% !important;
      margin-left: 2% !important;
    }
    .Panner_img{
      width: 78% !important;
      // background-color: #5A0FC8;
    }
  }
  
  @media (max-width: 992px) {
    .Img_size_chart {
      width: 5% !important;
      margin-left: 3% !important;
    }
    .Panner_img{
      width: 90% !important;
      // background-color: #5A0FC8;
    }
  }
  
  @media (max-width: 768px) {
    .Img_size_chart {
      width: 6% !important;
      margin-left: 3% !important;
    }
    .Panner_img{
    width: 100% !important;
  }
  }
  
  @media (max-width: 576px) {
    .Img_size_chart {
      width: 8% !important;
      margin-left: 4% !important;
    }
    .Panner_img{
      width: 100% !important;
    }
  }
  .chart-container {
    border: 2px solid #5A0FC8;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin-top: 20px;
  }
 
  .chart-container-title {
    position: absolute;
    top: -21px;
    left: 20px;
    background-color: white;
    color: #5A0FC8;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 5px;
  }
  
// .marhin{
//   margin-top: 50% !important;
// }
  .legend-item span{
    margin-left: 10px !important;
  }

  .buton_width{
       width: 25% !important;
       font-weight: bold !important;
       margin-left: 77% !important;
       background-color:rgba(105, 86, 229, 1) !important;
       color: white !important;
  }

  @media (max-width: 768px) { 
    .buton_width{
      width: 75% !important;
      margin-left: 10% !important;
      //  background-color: black !important;
 }
  
   
     
   }
   
   @media (min-width: 769px) and (max-width: 992px) { 
    .buton_width{
      width: 40% !important;
      margin-left: 60% !important;
      // background-color: black !important;
 }
   }

  #popUpChart{
    // .PopUpButon{
    //   background-color:#5A0FC8  ;
    //   width: 20% !important;
    // }

    .start_end_date{
      color:rgba(105, 86, 229, 1) ;
      font-weight:  bold;
    }

    .submit_btn{
      width: 17% !important;
      padding: 1% !important;
      background-color: rgba(105, 86, 229, 1) !important ;
      color: white;
      font-weight: bold;
      overflow: hidden;
      margin-right: 1% !important;
      margin-top: 5% !important;
  
    
    }
    .pointer{
      cursor: pointer !important;
    }
    .overlay{
      z-index:111 ;
      background-repeat: no-repeat;
    
    
       background-color: rgba(0,0,0,.6);
      
      width: 100%;
      height: 100%;
      position: absolute;
  
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content{
      overflow: hidden;
      width: 47%;
      height: 45%;
      background-color: white;
    }
    .close{
      // background-color: #5A0FC8;
      width: 35px !important;
      top: 29% !important;
      left: 70% !important;
    }
    .pen{
      top:62% !important ;
      left:70% !important ;
    }
    .star{
      top: 24% !important;
      left:24% !important ;
    }
    .time{
      width: 40px !important;

      height: 40px !important;
      // top: 29% !important;
      // left:29% !important ;
    }


    @media (max-width: 768px) { 
      .content{
        width: 80%;
      }
      .close{
        // background-color: #5A0FC8;
        width: 30px !important;
        top: 30% !important;
        left: 83% !important;
      }
      .pen{
        top:62% !important ;
        left:75% !important ;
      }
      .star{
        top: 24% !important;
        left:4% !important ;
      }
      .time{
        top: 29% !important;
        left:15% !important ;
        // background-color: black;
      }
     
       
     }
     
     @media (min-width: 769px) and (max-width: 992px) { 
      .content{
        width: 65%;
      }
      .close{
        // background-color: green;
        width: 35px !important;
        top: 29% !important;
        left: 77% !important;
      }
      .pen{
        top:62% !important ;
        left:75% !important ;
      }
      .star{
        top: 24% !important;
        left:13% !important ;
      }
      .time{
        top: 29% !important;
        left:20% !important ;
        // background-color: #5A0FC8;
      }
     }
  }