#Foreget_page{


  @keyframes spinAndPause {
    0%, 25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    75%, 100% {
      transform: rotate(360deg);
    }
  }
  
  .spinning-image {
    animation: spinAndPause 3s linear;
  }
  



  .margin_top{
    margin-top: 10% !important;
   }
   
     .NameColor {
       color: var(--loginButton);
       /* color: red; */
       font-weight: bold;
     }
     .width_emil{
      width: 35% !important;
     }
     .label {
       // border: none !important;
       background-color: var(--backgroundColorLoginInput) !important;
       height: 50px !important;
       width: 100% !important;
       border-color: initial !important;
     }
     .label:focus {
       outline: none !important;
       box-shadow: none !important;
       border-color: initial !important;
     }
   
     .buton {
       background-color: var(--loginButton) !important;
       color: white !important;
       font-weight: bold !important;
       font-size: larger !important;
     }
     .input-error ,.form-control:focus.input-error{
      border: 1px solid red !important; /* Change the color and style as needed */
    }
    
     
}