#topics-container {
    .topic-header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #6B52AE; 
    }
  
    .topics-list {
      max-height: 300px; 
      overflow-y: auto; 
  
      .topic-item {
        .topic-name {
          font-size: 16px;
          color: #333;
        }
  
        
  
        .topic-percentage,
        .topic-journals {
          font-size: 14px;
          color: #555;
        }
      }
    }
  
    .side-girl-img {
      max-width: 100%;
      height: auto;
    }

    .progress {
      background-color: #CCCCCC;
      // border-radius: 0.25rem;
      overflow: hidden;
      height: 15px; /* Control the height here */
       width: 60% !important;
    }
    
    .progress-bar {
      background-color: #6956E5;
      height: 100%; 
      transition: width 0.6s ease;
    }
    .back_ground_color{
      background-color: #F9F9F9;
    }
    .box1{
      background-image: url('../../Assets/blue_box.svg');
       
      background-size: cover !important;
      background-position: 100% 100% !important;
      height: 150px !important;
      width: 100% !important;
      background-repeat: no-repeat !important;
      
    }
    .box2{
      background-image: url('../../Assets/green_box.svg');
       
      background-size: cover !important;
      background-position: 100% 100% !important;
      height: 150px !important;
      width: 100% !important;
     
      background-repeat: no-repeat !important;
    }
    .box3{
      background-image: url('../../Assets/yellow_box.svg');
      height: 150px !important;
      width: 100% !important;
      background-size: cover !important;
      background-position: 100% 100% !important;
      background-repeat: no-repeat !important;
    }
    .box {
      position: relative;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      overflow: hidden;
      transition: background 0.3s ease;
  }
  
  .overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.5s ease;
      font-weight: 550;
       color: #747373;
      background: rgba(231, 228, 228, 0.5);
      // color: white;
     
      border-radius: 8px;
  }
  
  .box:hover .overlay {
     bottom: 0;
  }
  
  .overlay .row {
      width: 100%;
  }
  
  .overlay .col-md-4,
  .overlay .col-sm-4,
  .overlay .col-4,
  .overlay .col-lg-4,
  .overlay .col-xl-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .overlay img {
      max-width: 50px;
      margin-bottom: 10px;
  }
  
  .overlay p {
      margin: 0;
      font-size: 1.2em;
  }

  .topic_name{
    color: white;
    font-size: 25px;
    font-weight: bold;
    
  }
    

  .green{
    color: #00954A;
  }
  .yellow{
    color: #F0B518;
  }
  .blue{
    color: #0455AE;
  }


  .topics_Icon_size{
    width: 37px !important;
  } 
  .topics_page_title_size{
    font-size: 32px !important;
    font-family: "Inter", sans-serif;
  }
  .button_width{
    
    width: 25% !important;
    font-weight: bold !important;
    margin-left: 75% !important;
    background-color:rgba(105, 86, 229, 1) !important;
    color: white !important;
}

  @media (max-width: 576px) {
    /* Extra small devices (phones, 576px and down) */
    .topics_Icon_size{
      width: 20px !important;
    } 
    .topics_page_title_size{
      font-size: 20px !important;
      // background-color: #0455AE;
      font-family: "Inter", sans-serif;
    }
    .button_width{
      width: 75% !important;
      margin-left: 11% !important;
      //  background-color: black !important;
 }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    /* Small devices (landscape phones, 576px and up) */
    .topics_Icon_size{
      width: 25px !important;
    } 
    .topics_page_title_size{
      font-size: 25px !important;
      font-family: "Inter", sans-serif;
    }
    .button_width{
      width: 50% !important;
      margin-left: 26% !important;
    
 }
    
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
   
    .topics_Icon_size{
      width: 30px !important;
    } 
    .topics_page_title_size{
      font-size: 30px !important;
      font-family: "Inter", sans-serif;
    }
    .button_width{
      width: 40% !important;
      margin-left: 60% !important;
      // background-color: black !important;
 }
    
  }
  
  @media (min-width: 993px) {
    /* Large devices (desktops, 992px and up) */
    .topics_Icon_size{
      width: 37px !important;
    } 
    .topics_page_title_size{
      font-family: "Inter", sans-serif;
      font-size: 32px !important;
    }
   
  }

  .topic_frequency{
    font-family: 'Inter';
    font-weight: bold;
    color: rgba(105, 86, 229, 1);
  }
  .custom_container_width{
    // width: 98% !important;
    margin-right: 2% !important;
  }
  .topics_pers_numJournals{
    color: #7C7C7C;
   
    font-family: 'Inter';
    font-size: 5px !important;
  }
  .title_topic {
    font-family: 'Inter';
  }
  


  #popUpTopics{
    

    .start_end_date{
      color:rgba(105, 86, 229, 1) ;
      font-weight:  bold;
    }

    .submit_btn{
      width: 17% !important;
      padding: 1% !important;
      background-color: rgba(105, 86, 229, 1) !important ;
      color: white;
      font-weight: bold;
      overflow: hidden;
      margin-right: 1% !important;
      margin-top: 5% !important;
  
    
    }
    .pointer{
      cursor: pointer !important;
    }
    .overlayy{
      z-index:111 ;
      background-repeat: no-repeat;
       background-color: rgba(0,0,0,.6);
      
      width: 100%;
      height: 100%;
      position: absolute;
  
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content{
      overflow: hidden;
      width: 47%;
      height: 45%;
      background-color: white;
    }
    .close{
      // background-color: #5A0FC8;
      width: 35px !important;
      top: 29% !important;
      left: 70% !important;
    }
    .pen{
      top:62% !important ;
      left:70% !important ;
    }
    .star{
      top: 24% !important;
      left:24% !important ;
    }
    .time{
      width: 40px !important;

      height: 40px !important;
      // top: 29% !important;
      // left:29% !important ;
    }


    @media (max-width: 768px) { 
      .content{
        width: 80%;
      }
      .close{
        // background-color: #5A0FC8;
        width: 30px !important;
        top: 30% !important;
        left: 83% !important;
      }
      .pen{
        top:62% !important ;
        left:75% !important ;
      }
      .star{
        top: 24% !important;
        left:4% !important ;
      }
      .time{
        top: 29% !important;
        left:15% !important ;
        // background-color: black;
      }
     
       
     }
     
     @media (min-width: 769px) and (max-width: 992px) { 
      .content{
        width: 65%;
      }
      .close{
        // background-color: green;
        width: 35px !important;
        top: 29% !important;
        left: 77% !important;
      }
      .pen{
        top:62% !important ;
        left:75% !important ;
      }
      .star{
        top: 24% !important;
        left:13% !important ;
      }
      .time{
        top: 29% !important;
        left:20% !important ;
        // background-color: #5A0FC8;
      }
     }
  }

}
  

