.Footer {
  width: 100%;

  background-color: var(--backgroundColorLoginInput);

  margin-top: 8%;
}
.size {
  width: 80%;
}
.font {
  /* margin-top: 2px; */
  font-size: 14px;
}

.around {
  border-radius: 40%;
  font-size: 22px;
}
.around:hover {
  /* border: 5px var(--loginButton) solid; */
  background-color: var(--loginButton);
  color: white;
  transition: all 1s;
}
