.buton {
  background-color: var(--loginButton) !important;
  color: white !important;
  font-weight: bold !important;
  font-size: larger !important;
}

.label {
  border: none !important;
  background-color: var(--backgroundColorLoginInput) !important;
  height: 55px !important;
  border-color: initial !important;
}
.EnterCred {
  color: rgba(0, 0, 0, 0.785) !important;
  font-weight: bold;
  font-size: 21px;
}
.label:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: initial !important;
}
.NameColor {
  color: var(--loginButton);
  /* color: red; */
  font-weight: bold;
}
.NotHaveAccount {
  color: var(--loginButton);
  margin: 10px 10px 10px;
  font-weight: bold;
}
.loginImg {
  width: 85%;
}
.word {
  font-weight: bold;
  font-size: 70px;
  top: 9%;
  left: 11%;
}
.italiannoRegular {
  font-family: "Italianno", cursive;
  font-weight: 500;
  font-style: normal;
}
.Name {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.ImgSize {
  padding: 5% !important;
  
}
.err {
  color: red;
  font-weight: bold;
}
/* alert for errors  */
.alert {
  height: 50px !important;
}

.mouse{
  cursor: pointer;
}