
#Login_id{

/* Very small devices (small phones, 320px and up) */
/* Very small devices (phones, smaller than 360px) */
@media only screen and (max-width: 359px) {
   .ForgetPassPosition{
          left: 50% !important;
   }
}

/* Small devices (phones, 360px and up) */
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .ForgetPassPosition{
    left: 63% !important;
}
}

/* Medium devices (large phones, 480px and up) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ForgetPassPosition{
    left: 70% !important;
}
}

/* Large devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ForgetPassPosition{
    left: 75% !important;
}
}

/* Extra large devices (small desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ForgetPassPosition{
    left: 70% !important;
}
}

/* Super large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .ForgetPassPosition{
    left: 70% !important;
}
}

/* Ultra large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .ForgetPassPosition{
    left: 80% !important;
}
}









  .spinner {
    color: white !important;   // common 
   }
 
 .btn{
   margin-top: 30px !important;  // common
 }
 
 
 .form{
   margin-top: -3.5% !important;
 }
 
 /* Define keyframes for the animation */
 @keyframes slideInFromLeft {
   0% {
     transform: translateX(-100%);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 
 @keyframes slideInFromRight {
   0% {
     transform: translateX(100%);
     opacity: 0;
   }
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 
 /* Animation classes */
 .animate-left {
   animation: slideInFromLeft 1s forwards; /* Use forwards to retain end state */
   transform: translateX(-100%);
 }
 
 .animate-right {
   animation: slideInFromRight 1s forwards;
   transform: translateX(100%);
 }
 

 .color_red_bold{
   color: rgb(214, 17, 17);
   font-weight: bold;
 }
 .input-error ,.form-control:focus.input-error{
   border: 1px solid red !important; /* Change the color and style as needed */
 }
 
 .sinUp_font_size{
   margin-top: 8% !important;
   font-size: 18px;
   font-weight: 500;
 }
 .link_color{
   color:rgba(105, 86, 229, 1) !important;
    
 }
 
}
body {
  overflow-x: hidden;
  
}