// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

// .overr{
//   z-index:0;
// }
#Journal_page_Id{
  p+p {
    margin-top: 0 !important;
}

.bold{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.822);
}

.img{
    width: 10% !important;
}

.pointer{
  cursor: pointer;
}
.emo_size{
  width: 70%;
}

%journal {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
.journal_positive{
  @extend %journal;
  background-color:  rgb(248, 255, 246);
}
.journal_negative{
  @extend %journal;
  background-color:rgb(246, 248, 255);
}
.journal_neutral{
  @extend %journal;
  background-color:rgb(254, 255, 246);
}

%baseLineAfter{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
}
.journal_positive::after {
  @extend %baseLineAfter;
  background: repeating-linear-gradient(
    to right,
    #03964C,
    #03964C 5px,   /* Length of the dash */
    transparent 5px,
    transparent 12px  /* Length of the gap */
  );
}
.journal_neutral::after {
  @extend %baseLineAfter;
  background: repeating-linear-gradient(
    to right,
   #F0B518,
   #F0B518 5px,   /* Length of the dash */
    transparent 5px,
    transparent 12px  /* Length of the gap */
  );
}
.journal_negative::after {
  @extend %baseLineAfter;
  background: repeating-linear-gradient(
    to right,
   #0455AE,
   #0455AE 5px,   /* Length of the dash */
    transparent 5px,
    transparent 12px  /* Length of the gap */
  );
}
%baseFont{
  color: #7C7C7C;
  font-optical-sizing: auto;
  font-family: "Inter", sans-serif;
}
.journal_font_content{
  @extend %baseFont;
  size: 15px;
  line-height: 18.15px;
  font-weight: 500;
  
}
.journal_font_Date_time{
  @extend %baseFont;
  size: 12px;
  line-height: 14.52px;
  font-weight: 600;
}
%Journal_font_title{
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.neutral_title{
  @extend %Journal_font_title;
  color: #F0B518;
}
.positive_title{
  @extend %Journal_font_title;
  color: #03964C;
}
.negative_title{
  @extend %Journal_font_title;
  color: #0455AE;
}

.maincolor{
  background-color:rgba(105, 86, 229, 1) !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 645;

}


.see_more{
  color:black;
  font-weight: bold;
}
.container {
  width: 90% !important;
  height: 80vh;

  overflow-x: scroll;
  overflow-y: scroll ;  
}
.container::-webkit-scrollbar {
  display: none;
}


.container {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


.centered-content {

  display: flex;
  justify-content: center;
  align-items: center;

}





.book_Icon_size{
  width: 37px !important;
} 
.journal_page_title_size{
  font-size: 32px !important;
}
// .search_margin{
//   margin-left: 30% !important;
//   cursor: pointer;
//   background-color: tomato;
// }
// .search_icon_width{
//   width: 20% !important;
  
// }

.emo_size{
  width: 70%;
}
.fixed-button-container {
  margin-left: 80% !important;
  margin-top: 1%;

}
// .centered-image {
//   width: 35%;

// }
@media (max-width: 576px) {
  /* Extra small devices (phones, 576px and down) */
  .book_Icon_size{
    width: 20px !important;
  } 
  .journal_page_title_size{
    font-size: 20px !important;
    // background-color: #0455AE;
  }
  .search_margin{
    margin-left: 17% !important;
    cursor: pointer;
  }
  .search_icon_width{
    width: 100% !important;
  }
  .emo_size{
    width: 45%;
  }
  .fixed-button-container {
    margin-left: 50% !important;
    margin-top: 1%;
  
  }
  .centered-image {
    margin-top: 20% !important;
    width: 100%;
  
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Small devices (landscape phones, 576px and up) */
  .book_Icon_size{
    width: 25px !important;
  } 
  .journal_page_title_size{
    font-size: 25px !important;
  }
  .search_margin{
    margin-left: 17% !important;
    cursor: pointer;
  }
  .search_icon_width{
    width: 80% !important;
  }
  .emo_size{
    width: 37%;
  }
  .fixed-button-container {
    margin-left: 60% !important;
    margin-top: 1%;
  
  }
  .centered-image {
    margin-top: 12% !important;
    width: 80%;
  
  }
  
}

@media (min-width: 769px) and (max-width: 992px) {
  /* Medium devices (tablets, 768px and up) */
  .book_Icon_size{
    width: 30px !important;
  } 
  .journal_page_title_size{
    font-size: 30px !important;
  }
  .search_margin{
    margin-left: 17% !important;
    cursor: pointer;
  }
  .search_icon_width{
    width: 60% !important;
  }
  .fixed-button-container {
    margin-left: 70% !important;
    margin-top: 1%;
  
  }
  .centered-image {
    margin-top: 5% !important;
    width: 70%;
  
  
  }
}

@media (min-width: 993px) {
  /* Large devices (desktops, 992px and up) */
  .book_Icon_size{
    width: 37px !important;
  } 
  .journal_page_title_size{
    font-size: 32px !important;
  }
  .search_margin{
    margin-left: 35% !important;
    cursor: pointer;
    
  }
  .search_icon_width{
    width: 45% !important;
  }
  .centered-image {
   
    width: 40%;
  
  
  }
}

}










